.movie-card {
    @apply w-60 m-5 rounded-lg shadow-xl p-2 text-white;
    background: linear-gradient(25deg, #D83F31 20%, #E9B824 60%);
    transition: transform .5s;
}

.movie-card:hover {
    background: linear-gradient(transparent, transparent);
    transform: scale(1.1);
}

.input-search{
    @apply rounded-sm w-2/6 pl-2 m-5;
    width: 150px; height: 30px;
    min-width: 200px;
    transition: width .5s;
}
.input-search:focus{
    width: 250px;
}

.overview{
    @apply absolute top-0 rounded-lg overflow-auto p-1 h-0 bg-gray-900 text-white opacity-0;
    transition: height .5s;
}

.movie-card:hover .overview{
    opacity: 90%;
    height: 100%;
}