@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    background: linear-gradient(45deg, red, blue);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}